@import "variables";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	backface-visibility: hidden;

	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	// user-select: none;
}

html, body {
	overflow: hidden;
	width: 100%;
	width: 100vw;
	width: 100svw;
	height: 100%;
	height: 100svh;
	height: -webkit-fill-available;

	font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

html {
	background-color: var(--background);

	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: soft-light;
}

body {
	transform: translateZ(0);
	-webkit-font-smoothing: subpixel-antialiased;

	display: flex;
	place-content: center;
	place-items: center;
}

canvas {
	position: relative;
	animation: animate-fade-in 1s ease-in-out forwards;
	z-index: 2;

	background-color: var(--background);
	border: 1pt solid var(--container-border);
	border-radius: 15pt;
	box-shadow: 0px 0px 10pt 0pt var(--container-shadow);

	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}

body::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: transparent;
	background: radial-gradient(circle, transparent 0%, var(--vignette) 100%);
	opacity: 0.5;
	z-index: 1;
}